{{!-- Main Handlebars layout - all additional code place within {{{body}}} within main element tag --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>techspace</title>
    {{! Import bootstrap }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {{! Import google font styles }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100;1,400&family=PT+Mono&display=swap" rel="stylesheet">
    {{! Link css stylesheet }}
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <div class="row">
          <div class="col">
            <a href="/">
            <img src="../images/techspace-logo.png"></img>
            </a>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <nav class="navbar navbar-expand-lg">
              <div id="navbarNav">
                <ul class="navbar-nav">
                  {{!-- <li class="nav-item active">
                    <a class="nav-link" href="/">home
                      <span class="sr-only">(current)</span></a>
                  </li> --}}
                  
                  {{! If logged in user will see logout button }}
                  {{#if logged_in}}
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard">dashboard</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link"><button
                          class="btn btn-link p-0 custom-link"
                          id="logout"
                        >logout</button></a>
                    </li>
                  {{else}}
                    {{! Else, if not logged in user will see a login link }}
                    <li class="nav-item">
                      <a class="nav-link" href="/login">login</a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
      </footer>

    </div>

    {{! If user is logged in - this page will have access to logout.js to handle logout function }}
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>