{{! HTML Form to edit existing post }}
<div class="container mt-4">
  <div class="mb-3 text-right">
    <a href="/dashboard"> ﹤back to dashboard</a></div>
  <div class="card border">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
      <input type="hidden" name="post-id" value="{{post.id}}" />
      <input type="hidden" name="user-id" value="{{post.user_id}}" />

      <div class="form-group">
        <label for="post-title" class="form-label">Title:</label>
        <input
          type="text"
          value="{{post.post_title}}"
          class="form-control"
          id="post-title"
          name="post-title"
          placeholder="your post title"
        />
      </div>

      <div>
        <label class="form-label" for="content">Make edits to your post body</label>
        <br />
        <textarea
          class="form-input p-3 border border-secondary"
          id="post-content"
          style="height: 400px; width: 90%; "
          name="post-content"
        >{{post.post_content}}</textarea>
      </div>
      <div>
        <button class="btn custom-button mt-4 px-4" type="submit">EDIT</button>
      </div>
    </form>
  </div>
</div>
{{! Connection to edit.js file to link event handlers }}
<script src="/js/edit.js"></script>