{{! Login page that shows option for user to login or create an account }}
<div class="d-flex flex-column align-items-center">
  <div class="col-sm-5 user-box border rounded my-2">
    <p class="pt-3 text-uppercase">login to your account</p>
    <form class="form login-form mt-3">
      <div class="form-outline mb-4">
        <label for="username-login"><small>email:</small></label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="username-login"
            aria-label="Username"
            aria-describedby="basic-addon1"
            required
          />
        </div>
      </div>
      <div class="form-outline mb-4">
        <label for="password-login"><small>password:</small></label>
        <input
          class="form-control"
          type="password"
          id="password-login"
          required
        />
      </div>
      <div class="login-warning text-danger font-italic mb-3" style = "display: none"> Incorrect login details.</div>
      <div class="form-group">
        <button
          class="btn btn-block px-5 custom-button mb-4"
          type="submit"
        >login</button>
      </div>
    </form>
  </div>
  <div class="col-sm-5 user-box border rounded ">

    <p class="text-uppercase pt-3">not yet a user? create a new account</p>

    <form class="form signup-form mt-3">
      <div class="form-outline mb-4">
        
        <label for="username-signup"><small>email:</small></label>
         <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input
            type="email"
            class="form-control"
            id="username-signup"
            aria-label="Username"
            aria-describedby="basic-addon1"
            required
          />
        </div>
      <div class="form-outline mb-4">
        <label for="password-signup"><small>password:</small></label>
        <input
          class="form-control"
          type="password"
          id="password-signup" 
          placeholder="minimum 8 characters"
          required
        />
      </div>
      <div class="signup-warning text-danger mb-3 font-italic" style = "display: none"> Password must be at least 8 characters long</div>
      <div class="form-group">
        <button
          class="btn px-5 btn-block custom-button mb-4"
          type="submit"
        >signup</button>
      </div>
    </form>
  </div>
</div>

{{! Link to login.js file to link event handlers }}
<script src="./js/login.js"></script>