<section>
        <a href="/dashboard" back to dashboard</a>
    <h2>Create a new post</h2>
    <form id="new-post-form">
        <div class="form-group">
            <label for="title">TITLE:</label>
            <input type="text" placeholder="title" name="post-title" id="post-title">
        </div>
        <div class="form-group">
            <label for="title">YOUR COPY HERE</label>
            <input type="text" placeholder="Once upon a time..." name="post-content" id="post-title">
        </div>
        <button type="submit" class="btn btn-primary">Publish Post</button>
    </form>
</section>

<script src="js/newpost.js"></script>
