
/* Establish header styles */
header {
background-color: #FF914D;
padding: 1rem;
font-family: 'Montserrat', sans-serif;
text-transform: lowercase;
margin-bottom: 2rem;

}
/* Navbar Styles */
.nav-link, .custom-link , .nav-link:visited, .custom-link:hover {
    font-size: .8rem;
    color: white;
}
a, a:visited {
    color:#FF914D;
    text-align: right;
} 
.nav-link:hover, a:hover {
    color:#004AAD ;
    text-decoration: none;
}

/* Establish page wide font style */
main {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.icon-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}