/* Establish header styles */
header {
background-color: #182B2B;
color: #E6FFF5;
padding: 2rem;
font-family: 'PT Mono', monospace;
text-transform: lowercase;
letter-spacing: .2rem;
margin-bottom: 3rem;
}
/* Establish Heading Size */
h1 {
    font-size:  5rem;
}
/* Establish page wide font style */
main {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}